<%- include('partials/header.ejs') %>

<form action="/submit" method="POST">
  <input type="text" name="PostName" placeholder="Title" />
  <input type="text" name="PostContent" placeholder="Content" />
  <input type="submit" value="OK" />
</form>

<%- include('partials/footer.ejs') %>
