<%- include('partials/header.ejs') %>

<h1>Hello to my post table</h1>

<div>
  <ul>
    <li>
      <div>
        <a href="/view">First post</a>
        <button>-</button>
        <button>Edit</button>
      </div>
    </li>
  </ul>
</div>

<%- include('partials/footer.ejs') %>
